.header-nav{

}
.side-nav-drawer{
    width:25%;
}

.side-nav-logo{
    width:70%;
    margin-left:15%;
    margin-top:5%;
}

.header-nav-middle-fill{
    flex:1 1 auto;
    text-align:center;
}

div{
    background:white;
}

.main-frame-content{
    @media screen and (max-width:600px){
        overflow:scroll;
        margin-bottom: 64px;
    }
}
.main-frame-bottom-buttons{
    @media screen and (min-width:600px){
        display:none;
    }
    width:100%;
    bottom:0;
    left:0;
    height:64px;
    text-align:center;
    position:fixed;
    background:transparent;
    display:flex;

    .left-col, .center-col, .right-col{
        flex:1 1 auto;
        background:transparent;
    }
}

.hide-on-mobile{
    @media screen and (max-width:600px){
        display:none;
    }
}

.show-on-mobile{
    display:none;
    @media screen and (max-width:600px){
        display:block;
    }
}

.no-visibility{
    visibility:hidden;
}