<h4 mat-dialog-title>New Factor</h4>
<div mat-dialog-content>
  <mat-form-field hintLabel="Must be unique">
    <textarea [(ngModel)]="newFactor" matInput cdkTextareaAutosize cdkAutosizeMaxRows="3"></textarea>
    <mat-hint align="end">{{newFactor.length}} / {{maxFactorLength}}</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="checkAndCreateFactor()">Create</button>
</div>